.blogger_show
  = image_tag 'default_avatar.png'
  %ul
    %li.blogger_username= blogger.username + "'s Posts"
    %li
      - if current_user.present? && User.subscribed?(current_user, blogger)
        %a.unsubscribe_button{data: {url: subscription_path(@subscription.id)}} Unsubscribe
      - else current_user.present?
        %a.subscribe_button{data: {user_id: current_user.id, blogger_id: blogger.id}} Subscribe
- blogger_posts.each do |post|
  %div.comment
    %div.comment-content
      %h1= post.title
      %p.comment-detail= post.description
      .video= raw post.video_url.html_safe
      %h2= post.subtitle
      %p
        = Formatter.string(post.content) + '...'
        = link_to 'Read More', blog_post_path(post)
      %p.comment-detail= "Written by: #{post.user.username}"
      %p.comment-detail
        = Formatter.date(Date.today)
        = link_to 'Edit post', edit_blog_post_path(post) if current_user == post.user
