= form_for blog_post, html: {class: 'blog_post_form'} do |f|
  %fieldset
    %dl

      %dt= f.label :title
      %dd= f.text_field :title, class: 'small_field'

      %dt= f.label :video_url
      %dd= f.text_field :video_url, class: 'small_field'

      %dt= f.label :video_file
      %dd= f.filepicker_field :filepicker_url, mimetypes: 'video/avi, video/quicktime, video/mpeg, video/mp4, video/ogg, video/webm, video/x-ms-wmv, video/x-flv, video/x-matroska, video/x-msvideo, video/x-dv'

      %dt= f.label :hair_type
      %dd.select_type
        = f.select :hair_type, options_for_select(['1', '2', '3', '4'])
        = f.select :hair_type, options_for_select(['A', 'B', 'C'])
        = f.select :hair_type, options_for_select(['Low Porosity', 'High Porosity'])

      %dt= f.label :subtitle
      %dd= f.text_field :subtitle

      %dt= f.label :description
      %dd= f.text_area :description

      %dt= f.label :content
      %dd.content= f.text_area :content

  %fieldset.actions
    = f.submit 'Create Post'
