= form_for user do |f|
  %fieldset
    %dl

      %dt= f.label :email
      %dd= f.text_field :email

      %dt= f.label :username
      %dd= f.text_field :username

      %dt= f.label :password
      %dd= f.password_field :password

      %dt= f.label :password_confirmation
      %dd= f.password_field :password_confirmation

  %fieldset.actions
    = f.submit 'Sign Up'

%h1 Sign In!
= form_tag sign_in_path do
  %fieldset
    %dl
      %dt= label_tag :email
      %dd= text_field_tag :email, nil, id: 'session_email'
      %dt= label_tag :password
      %dd= password_field_tag :password, nil, id: 'session_password'

  %fieldset.actions
    = submit_tag 'Sign In'
