%html
  %head
    %title CurlsForDay
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = filepicker_js_include_tag
    %link{:href => "//fonts.googleapis.com/css?family=Questrial", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//fonts.googleapis.com/css?family=Sanchez:400italic,400", :rel => "stylesheet", :type => "text/css"}
  %body#main
    %div#content
      %div.wrapper-for-content-outide-of-footer
        %header.navigation{role: "banner"}
          .navigation-image= image_tag 'natural_hair.jpg'
          %div.navigation-wrapper
            %a.logo{href: "javascript:void(0)"}
            %a#js-mobile-menu.navigation-menu-button{href: "javascript:void(0)"} MENU

            %nav{role: 'navigation'}
              %ul.navigation-menu.show#js-navigation-menu
                %li.nav-link= link_to 'Bloggers', bloggers_path
                - if current_user.blank?
                  %li.nav-link= link_to 'Sign Up', new_user_path
                - elsif current_user.present? && !current_user.blogger?
                  %li.nav-link
                    = link_to latest_posts_subscriptions_path do
                      Subscriptions
                      - if subscription_posts.present?
                        = " (#{subscription_posts.count})" unless subscription_posts.count == 0
                  %li.nav-link= link_to 'Edit Profile', edit_user_path(current_user)
                  %li.nav-link= link_to 'Sign Out', sign_out_path, method: :delete
                - elsif current_user.present? && current_user.blogger?
                  %li.nav-link= link_to 'Subscriptions', latest_posts_subscriptions_path
                  %li.dropdown.nav-link
                    .dropdown-container
                      %p.dropdown-button Blogger Commands
                      %ul.dropdown-menu.dropdown-select
                        = link_to new_blog_post_path do
                          %li Add Post
                        = link_to blogger_path(current_user) do
                          %li Your Posts
                        = link_to edit_user_path(current_user) do
                          %li Edit Profile
                        = link_to sign_out_path, method: :delete do
                          %li Sign Out

            %div.navigation-tools
              %div.search-bar
                %form{role: 'search'}
                  %input{name: 'search', type: 'search', placeholder: 'Search'}
                  %button{type: 'submit'}
                    %img{src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png", alt: "Search Icon"}
      - if params[:notice].present?
        %div{class: "#{@alert_class} alert"}
          %span= @alert_message

      = yield
